/* Created by: ZoiaB
* Created on: Mar 2022
* This CSS file defines the style for index.html
* ICS2O-Unit2-02-PHP-AreaPerRectangle
*/

body {
	background-color: #C1BCAC;
}

h1 {
	background-color: #979B8D;
	color: hsl(10, 54%, 86%);
	padding: 40px;
	text-align: center;
}

p {
	background-color: #f5d1d1;
}